<footer>
  <div class="wrap">
    <ol>
      <li><a [routerLink]="[ '/products','bikes','all']">Велосипеди</a>
        <ul>
          <li><a [routerLink]="[ '/products','bikes','doubleDepreciation']">Двоамортизаційні</a></li>
          <li><a [routerLink]="[ '/products','bikes','Hardtails']">Хардтейли</a></li>
          <li><a [routerLink]="[ '/products','bikes','Road']">Дорожні</a></li>
          <li><a [routerLink]="[ '/products','bikes','Tourist']">Туристичні</a></li>
          <li><a [routerLink]="[ '/products','bikes','Electro']">Електро</a></li>
          <li><a [routerLink]="[ '/products','bikes','female']">Жіночі</a></li>
          <li><a [routerLink]="[ '/products','bikes','children']">Дитячі</a></li>
          <li><a [routerLink]="[ '/products','bikes','triathlon']">Тріатлон</a></li>
          <li><img src="../../../assets/images/ft_logo.png" alt=""></li>
          <li>© 2020 - регіональний дилер CUBE в Україні</li>
        </ul>
      </li>
      <li>Ви можете знайти нас:
          <ul>
              <li><a href="#"><img src="../../../assets/images/linc-33-38x38.png" alt=""></a></li>
              <li><a href="#"><img src="../../../assets/images/linc-34-38x38.png" alt=""></a></li>
              <li><a href="#"><img src="../../../assets/images/linc-49-38x38.png" alt=""></a></li>
          </ul>
      </li>
      <li><a [routerLink]="[ '/products','components','all']">Компоненти</a>
        <ul>
          <li><a [routerLink]="[ '/products','components','bicyclebBags' ]">Велосумки</a></li>
          <li><a [routerLink]="[ '/products','components','lights' ]">Ліхтарі</a></li>
          <li><a [routerLink]="[ '/products','components','bicycleComputer' ]">Велокомп'ютер</a></li>
          <li><a [routerLink]="[ '/products','components','pumps' ]">Насоси</a></li>
          <li><a [routerLink]="[ '/products','components','saddle' ]">Сідло</a></li>
          <li><a [routerLink]="[ '/products','components','grips' ]">Гріпси</a></li>
          <li><a [routerLink]="[ '/products','components','bicycleBottle' ]">Велофляга</a></li>
          <li><a [routerLink]="[ '/products','components','flagHolder' ]">Фляготримач</a></li>
          <li><a [routerLink]="[ '/products','components','bicycleWing' ]">Велокрила</a></li>
          <li><a [routerLink]="[ '/products','components','bootRack' ]">Велобагажник</a></li>
          <li><a [routerLink]="[ '/products','components','bicycleBasket' ]">Велокошик</a></li>
          <li><a [routerLink]="[ '/products','components','footrest' ]">Підніжка</a></li>
          <li><a [routerLink]="[ '/products','components','tires' ]">Шини</a></li>
          <li><a [routerLink]="[ '/products','components','frameProtection' ]">Захист рами</a></li>
          <li><a [routerLink]="[ '/products','components','bells' ]">Дзвоники</a></li>
          <li><a [routerLink]="[ '/products','components','pedals' ]">Педалі</a></li>
          <li><a [routerLink]="[ '/products','components','brakePads' ]">Гальмівні колодки</a></li>
          <li><a [routerLink]="[ '/products','components','bicycleLock' ]">Велозамок</a></li>
          <li><a [routerLink]="[ '/products','components','chain' ]">Ланцюг</a></li>
          <li><a [routerLink]="[ '/products','components','camera' ]">Камера</a></li>
        </ul>
      </li>
    </ol>
  </div>
</footer>
