<main>
  <div class="image">
    <img src="../../../assets/images/slider-image-27-1920x726.jpg" alt="">
  </div>
  <article>
    <h2>Ви хочете Придбати Продукцію Cube?</h2>
    <p>Тоді саме зараз і саме тут: <a [routerLink]="[ '/sign']">реєструйтесь</a> та замовляйте компоненти, аксесуари, велосипеди Cube. Наш
      найближчий представник зв’яжеться з Вами для уточнення деталей</p>
    <div class="product">
      <a [routerLink]="[ '/products','bikes','all']">
        <span class="img">
          <span class="img_bg"></span>
          <img src="../../../assets/images/item_img11.png" alt="">
        </span>
        <span class="txt">Велосипеди</span>
      </a>
      <a [routerLink]="[ '/products','components','all']">
        <span class="img">
          <span class="img_bg"></span>
          <img src="../../../assets/images/item_img13.png" alt="">
        </span>
        <span class="txt">Компоненти</span>
      </a>
    </div>
    <p>Чому саме <strong>велосипеди CUBE?</strong> Та тому що продукція нашої марки постійно йде пліч-о-пліч з сучасними трендами і
      постійно представляє відмінний конкурентний продукт на світовому ринку велосипедів. Наші покупці мають масу
      позитивних вражень від <strong>велосипедів, одягу і компонентів CUBE</strong> . Більшість з них стають постійними клієнтами
      представницьких центрів по продажу продукції, а також приводять своїх рідних та друзів. Тому що <span class="red">CUBE - це надійно
        і круто!</span></p>

  </article>
</main>
