.container {
    margin: 0 auto;
    width: 700px;
      .block{
          margin: 20px auto;
          box-shadow: 0 0 10px #191919;
      }
      .title{
          text-align: center;
          font-size: 40px;
          margin: 20px 0;
      }
      .bigWrap{
          display: flex;
      }
      .total{
          width: 100%;
          text-align: right;
          padding: 20px;
          font-size: 22px;
          font-weight: 600;
          border-top: 2px solid black;
          span{
              margin-right:50px;
          }
      }
      .wrap{
        border-right:  2px solid #191919;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    .products {
      width: 420px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom:  2px solid #191919;
      padding: 20px;
      &:last-child{
          border-bottom: none;
      }
  
      .image {
        width: 90px;
        height: 50px;
        background-size: 100% 100%;
      }
  
      .info {
        width: calc(100% - 90px);
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
  
      .name {
        font-size: 15px;
        font-weight: 600;
        width: 40%;
      }
  
      .price {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .send{
        line-height: 2;
        font-size: 20px;
        text-align: center;
        width: 280px;
        div{
            width: 100%;
            &:first-child{
              font-size: 25px;
              font-weight: 600;
          }
        }
        
    }
    .empty{
      text-align: center;
      margin: 20px auto;
      position: relative;
      font-size: 30px;
      a{
        text-decoration: none;
        font-size: 20px;
        font-style: italic;
        color: rgb(184, 184, 184);
        text-decoration: underline;
      }
      span{
        margin-right: 10px;
      }
      h2{
        margin-bottom: 20px;
      }
    }
  }
  